* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
        margin-top: 0px;
        width: 100%;
        padding: 50px;
        /* background-color: greenyellow; */
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 12%;
        row-gap: 25px;
        
        align-items: center;
    
}

header {
    
        width: 100%;
        padding: 50px;
        /* background-color: greenyellow; */
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 12%;
        row-gap: 25px;
        
        align-items: center;

}

.btn-again {
    margin-left: 500px;
    padding: 10px;
    background-color: blue;
    border: blue;
    color: white;
    
    
    
}

.between {
    
    padding: 10px;
   
    
}



.btn-again:hover {
    background-color: darkgreen;
    color:yellow;
    animation-delay: 5s;
}

.number {
    text-align: center;
    background-color: blueviolet;
    border: 5px;
    color: white;
    margin:0px;
}